*.apk
*.bin
*.dtb
*.img
*.tar.gz
*.zip
*.elf
*.bit
*.xsa
*.bif
*.end.rst
*.log
*.wdb
*.dcp
*.chk
*.svf
*.bit
*.ltx

*.jou
*.str
*.cache
*.xml
*.protoinst
*.rpt
*.pb
*.xml


linux*
initram*
vivado*
webtalk*
uImage
sd_backup*


.cache/
.hw/
.ip_user_files/
.sim/
.srcs/sources_1/bd/
.srcs/sources_1/ip/
.srcs/sources_1/ipshared/
.runs/
.gen/
.Xil/

#!*.v
#!*.sw
#!*.vh
#!*.xdc
#!*.xci
#!*.bd
#!*.tcl
#!*.xpr

tmp/adc_test.runs/impl_1/.post_route_phys_opt_design.begin.rst
tmp/adc_test.runs/impl_1/.vivado.begin.rst
tmp/adc_test.runs/impl_1/system_wrapper_route_status.pb
tmp/adc_test.runs/impl_1/system_wrapper_routed.dcp
tmp/adc_test.runs/impl_1/runme.log
tmp/adc_test.runs/impl_1/gen_run.xml
tmp/adc_test.runs/impl_1/.init_design.begin.rst
tmp/adc_test.runs/impl_1/.opt_design.begin.rst
