# ======================
# Vivado / Xilinx
# ======================
# Временные каталоги Vivado
*.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.str/
*.cache/
tmp/**/behav/
tmp/**/sim_1/
tmp/**/synth_1/


tmp/adc_test.sim/sim_1/behav/xsim/xsim.dir/tb_adc_behav/xsim.xdbg
tmp/adc_test.cache/

# Логи и временные файлы
*.jou
*.log
*.wdb
*.dcp

# ======================
# C / C++
# ======================
# Объектные файлы (можно собрать заново)
*.o
*.obj

# Временные библиотеки
*.a
*.so
*.dll
*.dylib
*.lib

# ======================
# CMake / Make
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile.in
*.cmake


# Misc
*.swp
*.swo
*~


# Linux
*.apk
sd_backup/
scripts/*.zip

!*.v

