*.apk
*.bin
*.dtb
*.img
*.tar.gz
*.zip
*.elf
*.bit
*.xsa
*.bif
*.end.rst
*.log
*.wdb
*.dcp
*.chk
*.svf
*.bit
*.ltx

*.jou
*.str
*.cache
*.xml
*.protoinst
*.rpt
*.pb
*.rst

linux*
initram*
vivado*
webtalk*
uImage
sd_backup*


.cache/
.hw/
.ip_user_files/
.sim/
.srcs/sources_1/bd/
.srcs/sources_1/ip/
.srcs/sources_1/ipshared/
.runs/
.gen/
.Xil/

!*.v
!*.sw
!*.vh
!*.xdc
!*.xci
!*.bd
!*.tcl
!*.xpr

